<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <title>Add a Project</title>
</head>

<body>
  <!-- Header -->
  <%- include('partials/header') %>

  <main class="container">
      <h2>Add Project <img src="/assets/addProject-lightbulb.png" alt="lamp" class ="signup-img" width="100" height="100"></h2>
      <form action="/projects/addProject" method="POST">
        <label for="title">
          Title
          <input type="text" id="title" name="title" placeholder="What do you want to call this thing?" required>
        </label>

        <label for="dueDate">
          Deadline
        <input type="date" id="dueDate" name="dueDate" required>
        </label>

         <label for="teamMembers">
          Team Members
          <input type="text" id="teamMembers" name="teamMembers" placeholder="Are you working on this with anyone?">
          </label>

          <!--<details role="list">
            <summary aria-haspopup="listbox">Team Members</summary>
            <ul role="listbox">
              <li>
                <label>
                  <input type="checkbox">
                  Bob (signed in user)
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox">
                  Other Team Member
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox">
                  Other Team Member
                </label>
              </li>
            </ul>
          </details> -->

        <label for="description">
          Description
          <textarea type="text" id="description" name="description" placeholder="Add some details about your project..."
            required></textarea>
        </label>

        <button type="submit" class="contrast">+ Add Project</button>
      </form>
      <a href="/projects" role="button" class="contrast outline">← Back to Projects</a>
  </main>
  <!-- Footer -->
  <%- include('partials/footer') %>
</body>

</html>