<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <title>Branches</title>
</head>

<body>

  <main class="container homepage">
    <h1 class="spoof-medium-ss02">branches</h1>
    <div class="flex-container">

      <img src="/assets/branches-project-management-doodle.png" width="500" height="500">

      <div>
        <form action="/login" method = "POST" name="login">
          <h3> A project tracking app</h3>
          <label for="username">
            Username
            <input type="text" id="username" name="username" required>
          </label>

          <label for="password">
            Password
            <input type="password" id="password" name="password" required>
          </label>

          <!-- Buttons -->
          <button type="login" class="contrast">Login</button>
        </form>
        <a href="/signup" role="button" class="contrast outline">Signup</a>
        <a class="contrast" id="guestAccount" role="link">Use a guest account</a>
      </div>
    </main>
  <!-- Footer -->
  <%- include('partials/footer') %>
  <script src="js/main.js"></script>  
</body>
</html>